body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}

canvas {
  display: block;
  cursor: grab;
  background-color: white;
}

canvas:active {
  cursor: grabbing;
}

#cooldown {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 16px;
  background: rgba(0,0,0,0.75);
  color: white;

  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid white;

  z-index: 1000;

  cursor: pointer;
  user-select: none;
}

#cooldown.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#coords {
  position: fixed;
  top: 16px;
  right: 16px;

  background: rgba(0,0,0,0.7);
  color: white;

  padding: 8px 12px;

  font-family: monospace;
  font-size: 14px;

  pointer-events: none;
  z-index: 1000;
}
